@import './var';

body {
  background: linear-gradient(to bottom, $grandmaster, #231b1b);
}

h1,
h2,
h3 {
  box-shadow: inset 0 0 $grandmaster, inset 0 -2px $storyteller;
}

strong {
  color: $storyteller;
  &::before,
  &::after {
    content: '**';
  }
}

em {
  color: $storyteller;
  &::before,
  &::after {
    content: '_';
  }
}

.f {
  background: none !important;
}

#ul,
#ol {
  font-size: 1em;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}

#header {
  h1,
  h2,
  h3 {
    box-shadow: none;
  }
}
